body {
    background-color: #F5C85D;
}

h1{
    text-align: center;
    font-family: Arial;
}

canvas {
    background-image: url('feux.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bouton {
    position: absolute;
    left: 61%;
    bottom: 18%;
    margin: 10px;
    height: 40px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 15px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton:hover {
    background-color: rgb(255, 0, 0, 1);
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.bouton:disabled {
    background-color: #cccccc;
    color: #666666;
  }